# Dependency directories
node_modules/

# System files
.DS_Store

# Local config 
jsconfig.json
*.log

# Personal dev folders
scrap/

# Environment secrets
.env

dist/


# Optional: local runtime logs / crash reports
npm-debug.log*
yarn-debug.log*
yarn-error.log*
